IoT/node-red/aegis_flow_nodered.json
[
  {
    "id": "tab_aegis",
    "type": "tab",
    "label": "AEGIS",
    "disabled": false,
    "info": "Estacao AEGIS - dashboard, comandos e automacao"
  },
  {
    "id": "broker_aegis",
    "type": "mqtt-broker",
    "name": "broker.hivemq.com",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab_aegis",
    "type": "ui_tab",
    "name": "AEGIS",
    "icon": "rocket",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp_tele",
    "type": "ui_group",
    "name": "Telemetria do Habitat",
    "tab": "ui_tab_aegis",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "grp_status",
    "type": "ui_group",
    "name": "Status (IA na borda)",
    "tab": "ui_tab_aegis",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "grp_ctrl",
    "type": "ui_group",
    "name": "Controle Remoto",
    "tab": "ui_tab_aegis",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqtt_tele",
    "type": "mqtt in",
    "z": "tab_aegis",
    "name": "telemetria",
    "topic": "fiap/aegis/RM00000/telemetria",
    "qos": "0",
    "datatype": "json",
    "broker": "broker_aegis",
    "x": 130,
    "y": 120,
    "wires": [["split_tele"]]
  },
  {
    "id": "split_tele",
    "type": "function",
    "z": "tab_aegis",
    "name": "separa medicoes",
    "func": "var d = msg.payload;\nreturn [\n  { payload: d.temp,     topic: \"Temperatura\" },\n  { payload: d.umid,     topic: \"Umidade\" },\n  { payload: d.pressao,  topic: \"Pressao\" },\n  { payload: d.co2,      topic: \"CO2\" },\n  { payload: d.radiacao, topic: \"Radiacao\" }\n];",
    "outputs": 5,
    "noerr": 0,
    "x": 330,
    "y": 120,
    "wires": [["g_temp"], ["g_umid"], ["g_pres"], ["g_co2", "chart_co2"], ["g_rad"]]
  },
  {
    "id": "g_temp",
    "type": "ui_gauge",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_tele",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Temperatura",
    "label": "C",
    "format": "{{value}}",
    "min": "0",
    "max": "55",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "28",
    "seg2": "38",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "g_umid",
    "type": "ui_gauge",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_tele",
    "order": 2,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Umidade",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "60",
    "seg2": "80",
    "x": 560,
    "y": 100,
    "wires": []
  },
  {
    "id": "g_pres",
    "type": "ui_gauge",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_tele",
    "order": 3,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Pressao",
    "label": "kPa",
    "format": "{{value}}",
    "min": "70",
    "max": "110",
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": "90",
    "seg2": "97",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "g_co2",
    "type": "ui_gauge",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_tele",
    "order": 4,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "CO2",
    "label": "ppm",
    "format": "{{value}}",
    "min": "350",
    "max": "5000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "1000",
    "seg2": "2000",
    "x": 560,
    "y": 180,
    "wires": []
  },
  {
    "id": "g_rad",
    "type": "ui_gauge",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_tele",
    "order": 5,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Radiacao",
    "label": "uSv/h",
    "format": "{{value}}",
    "min": "0",
    "max": "2",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "0.5",
    "seg2": "1",
    "x": 560,
    "y": 220,
    "wires": []
  },
  {
    "id": "chart_co2",
    "type": "ui_chart",
    "z": "tab_aegis",
    "name": "tendencia CO2",
    "group": "grp_tele",
    "order": 6,
    "width": "6",
    "height": "4",
    "label": "Tendencia CO2 (ppm)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "aguardando dados",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a"],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 580,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "tab_aegis",
    "name": "status",
    "topic": "fiap/aegis/RM00000/status",
    "qos": "0",
    "datatype": "json",
    "broker": "broker_aegis",
    "x": 120,
    "y": 340,
    "wires": [["status_fn"]]
  },
  {
    "id": "status_fn",
    "type": "function",
    "z": "tab_aegis",
    "name": "interpreta status",
    "func": "var s = msg.payload;\nvar conf = Math.round((s.confianca || 0) * 100) + \"%\";\nvar estado = { payload: s.estado + \"  (\" + conf + \")\" };\nvar modo = { payload: \"Modo: \" + s.modo + \"  |  Servo: \" + s.servo + \"\\u00b0\" };\nvar alerta = null;\nif (s.estado && s.estado !== \"NOMINAL\") {\n  alerta = { payload: \"\\u26a0\\ufe0f ALERTA: \" + s.estado + \" (\" + conf + \")\" };\n}\nreturn [estado, modo, alerta];",
    "outputs": 3,
    "noerr": 0,
    "x": 320,
    "y": 340,
    "wires": [["t_estado"], ["t_modo"], ["dbg_alerta"]]
  },
  {
    "id": "t_estado",
    "type": "ui_text",
    "z": "tab_aegis",
    "group": "grp_status",
    "order": 1,
    "width": "6",
    "height": "2",
    "name": "",
    "label": "Estado do habitat",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 540,
    "y": 320,
    "wires": []
  },
  {
    "id": "t_modo",
    "type": "ui_text",
    "z": "tab_aegis",
    "group": "grp_status",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 540,
    "y": 360,
    "wires": []
  },
  {
    "id": "dbg_alerta",
    "type": "debug",
    "z": "tab_aegis",
    "name": "alerta (-> Telegram depois)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 580,
    "y": 400,
    "wires": []
  },
  {
    "id": "btn_vent_on",
    "type": "ui_button",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_ctrl",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Ventilar ON",
    "color": "",
    "bgcolor": "#1565c0",
    "icon": "",
    "payload": "VENTILAR_ON",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 500,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_vent_off",
    "type": "ui_button",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_ctrl",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Ventilar OFF",
    "color": "",
    "bgcolor": "#455a64",
    "icon": "",
    "payload": "VENTILAR_OFF",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 540,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_auto",
    "type": "ui_button",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_ctrl",
    "order": 3,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Modo AUTO",
    "color": "",
    "bgcolor": "#2e7d32",
    "icon": "",
    "payload": "AUTO",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 580,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_mute",
    "type": "ui_button",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_ctrl",
    "order": 4,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Silenciar",
    "color": "",
    "bgcolor": "#c62828",
    "icon": "",
    "payload": "MUTE",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 620,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_unmute",
    "type": "ui_button",
    "z": "tab_aegis",
    "name": "",
    "group": "grp_ctrl",
    "order": 5,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Reativar som",
    "color": "",
    "bgcolor": "#6a1b9a",
    "icon": "",
    "payload": "UNMUTE",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 160,
    "y": 660,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "mqtt_cmd",
    "type": "mqtt out",
    "z": "tab_aegis",
    "name": "comando",
    "topic": "fiap/aegis/RM00000/comando",
    "qos": "0",
    "retain": "",
    "broker": "broker_aegis",
    "x": 460,
    "y": 580,
    "wires": []
  }
]
