IoT/node-red/aegis_telegram_addon.json
[
  {
    "id": "tg_bot_aegis",
    "type": "telegram bot",
    "botname": "aegis_bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "testenvironment": false,
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksport": "6667",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "tg_receiver",
    "type": "telegram receiver",
    "z": "tab_aegis",
    "name": "Telegram (recebe)",
    "bot": "tg_bot_aegis",
    "autoanswer": true,
    "x": 150,
    "y": 760,
    "wires": [["tg_cmd"]]
  },
  {
    "id": "tg_cmd",
    "type": "function",
    "z": "tab_aegis",
    "name": "interpreta comando do Telegram",
    "func": "var p = msg.payload;\n// memoriza quem falou com o bot (usado para os alertas)\nflow.set(\"chatId\", p.chatId);\n\nvar txt = (\"\" + (p.content || \"\")).toLowerCase().trim();\nif (txt[0] === \"/\") txt = txt.substring(1);\n\nvar map = {\n  \"ventilar\": \"VENTILAR_ON\",\n  \"fechar\": \"VENTILAR_OFF\",\n  \"auto\": \"AUTO\",\n  \"silenciar\": \"MUTE\",\n  \"reativar\": \"UNMUTE\"\n};\nvar cmd = map[txt];\n\nif (cmd) {\n  var ok = { payload: { chatId: p.chatId, type: \"message\",\n    content: \"\\u2705 Comando enviado \\u00e0 base: \" + cmd } };\n  return [ { payload: cmd }, ok ];   // saida1 -> comando MQTT | saida2 -> resposta\n}\n\nvar help = { payload: { chatId: p.chatId, type: \"message\",\n  content: \"\\ud83d\\udef0\\ufe0f AEGIS - comandos:\\nventilar, fechar, auto, silenciar, reativar\" } };\nreturn [ null, help ];",
    "outputs": 2,
    "noerr": 0,
    "x": 410,
    "y": 760,
    "wires": [[], ["tg_sender"]]
  },
  {
    "id": "notificador",
    "type": "function",
    "z": "tab_aegis",
    "name": "notificador (so quando muda)",
    "func": "var s = msg.payload;\nif (!s || !s.estado) return null;\n\nvar chatId = flow.get(\"chatId\");\nif (!chatId) return null;   // mande uma msg ao bot primeiro p/ ele te conhecer\n\nvar anterior = flow.get(\"estadoAnterior\");\nif (s.estado === anterior) return null;   // so notifica quando o estado MUDA\nflow.set(\"estadoAnterior\", s.estado);\n\nvar hora = new Date().toLocaleTimeString(\"pt-BR\");\nvar conf = Math.round((s.confianca || 0) * 100) + \"%\";\nvar texto;\nif (s.estado === \"NOMINAL\") {\n  texto = \"\\u2705 AEGIS: habitat voltou ao NOMINAL \\u2014 \" + hora;\n} else {\n  texto = \"\\ud83d\\udef0\\ufe0f\\u26a0\\ufe0f AEGIS ALERTA\\nEstado: \" + s.estado +\n          \" (\" + conf + \")\\nServo: \" + s.servo + \"\\u00b0\\n\" + hora;\n}\nreturn { payload: { chatId: chatId, type: \"message\", content: texto } };",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 460,
    "wires": [["tg_sender"]]
  },
  {
    "id": "tg_sender",
    "type": "telegram sender",
    "z": "tab_aegis",
    "name": "Telegram (envia)",
    "bot": "tg_bot_aegis",
    "haserroroutput": false,
    "outputs": 0,
    "x": 700,
    "y": 540,
    "wires": []
  }
]
